* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f6f6f6;
  color: #1f1f1f;
}

.checkout {
  max-width: 1200px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
}

/* IZQUIERDA */
.checkout-left {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
}

.checkout-left h2 {
  font-size: 18px;
  margin: 30px 0 15px;
  font-weight: 600;
}

.checkout-left input,
.checkout-left select {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
}

.checkbox {
  font-size: 14px;
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.shipping {
  border: 1px dashed #ccc;
  padding: 18px;
  border-radius: 6px;
  font-size: 14px;
  color: #777;
}

.btn-pay {
  width: 100%;
  background: #1e3d2b;
  color: #fff;
  border: none;
  padding: 16px;
  margin-top: 30px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-pay:hover {
  background: #163021;
}

.secure {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: #666;
}

/* DERECHA */
.checkout-right {
  background: #fafafa;
  padding: 30px;
  border-radius: 8px;
}

.product {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 18px;
}

.product img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.product p {
  margin: 0;
  font-weight: 500;
}

.product span {
  font-size: 14px;
  color: #444;
}

.summary {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.total {
  font-weight: 700;
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .checkout {
    grid-template-columns: 1fr;
  }
}
